@font-face {
    font-family: '8-bit';
    src: url(../8bit.ttf);
}

*{
    transition: .5s;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

::-webkit-scrollbar-track {
    background-color:#151515 ;
    border-radius: 3px;
}
::-webkit-scrollbar {
    width: 13px;
    background: none;
}
::-webkit-scrollbar-thumb {
    background: #5F4783;
    box-shadow: 0px 0px 10px #b284f8;
    border-radius: 10px;
}

body{
    background-color: #0A1817;
}

header{
    position: fixed;
    background-color:#151515;
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #414141;
    box-shadow: 0px 0px 10px black;
}

.container-top{
    display: flex;
    align-items: center;
    width: 70%;
    height: 100%;
    margin: auto;
    justify-content: space-between;
}

.minha-logo{
    font-family: '8-bit', Courier, monospace;
    font-size: 1.5em;
    color: rgb(17, 107, 17);
    font-weight: bolder;
    margin: 15px 0px ;
}

ul{
    display: flex;
}

li{
    list-style: none;
    margin-left: 20px;
}

a{
    font-size: 1.4em;
    text-decoration: none;
    color: white;
}


/* Home Da Pagina */


.container-home{
    width: 100%;
}

.conteudo-home{
    display: flex;
    width: 70%;
    height: 100vh;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.meu-nome{
    /* font-family: '8-bit', Courier, monospace; */
    font-size: 2.5em;
    margin: 30px 0px;
    color: #68a7e6;
    text-shadow: 0px 0px 10px black;
}

.vaga{
    font-size: 1.5em;
}

.container-icons{
    display: flex;
    margin-top: 20px;
    height: 80px;
    align-items: center;
}

.icons-prog{
    width: 80px;
}

.icons-prog:hover{
    width: 80px;
    transform: rotateZ(20deg);
}

.links{
    display: flex;
    font-size: .8em;
}

.button-link{
    margin: 10px;
    padding: 10px;
    display: flex;
    width: 140px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.button-link > p {
    padding-left: 3px ;
}

.github{
    border: 3px solid #5F4783;
    animation-name: pisca-github;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transition: .4s;
}

.github:hover{
    background-color: #5F4783;
    box-shadow: 0px 0px 10px #b284f8;
    animation: none;
}

.linkedin{
    border: 3px solid #0A66C2;
    animation-name: pisca-linkedin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.linkedin:hover{
    background-color: #0A66C2;
    animation: none;
    box-shadow: 0px 0px 10px #71b5f8;
}

.img-icons{
    width: 25px;
    color: aqua;
}

.img-programa{
    width: 60%;
}


/*                            Sobre                                  */


.conteiner-sobre{
    display: flex;
    background-image: linear-gradient(black,#0A1817);
    box-shadow: 0px 0px 10px black;
    width: 100%;
    height: 100vh;
}

.conteudo-sobre{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-around;
    align-items: center;
}

.sobremin{
    margin: 10px;
    width: 100%;
}

.sobremin > p {
    font-size: 1em;
    margin: 15px;
}

.botao-curriculo{
    display: flex;
    cursor: pointer;
    font-size: .8em;
    margin-left: 25px;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: transparent;
    border: 3px solid #0A66C2;
    animation-name: pisca-linkedin;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    align-items: center;
    justify-content: center;
}

.botao-curriculo:hover{
    background-color: #5F4783;
    box-shadow: 0px 0px 10px #b284f8;
    animation: none;
    border: none;
}

.icon-curriculo{
    width: 30px;
    margin-right: 10px;
}

.minha-foto{
    width: 250px;
    border-radius: 150px;
    margin: 10px;
}


/*                             Experiencias                                 */


.conteiner-experiencia{
    background-color: black;
    box-shadow: 0px 0px 10px black;
    height: 100vh;
}

.conteudo-experiencia{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    height: 100vh;
    margin: auto;
}

.container-button-experiencia{
    margin: 50px;
}

.button-experiencia{
    cursor: pointer;
    height: 50px;
    display: block;
    width: 150px;
    background-color: transparent;
    margin-top: 10px;
    border: none;
    border-left: 1px solid #b284f8;
    color: white;
    background-color: #414141;
}

.button-experiencia:hover{
    border-left: 10px solid #b284f8;
}

.button-experiencia:focus{
    background-color: #5F4783;
}

.resp-experiencia{
    max-width: 700px;
}

.titulo-experiencia{
    margin-bottom: 10px;
}

/*                             projetos                                      */

.container-projetos{
    padding: 60px 0px;
    display: flex;
    width: 100%;
    background-image: linear-gradient(#0A1817, black);
    box-shadow: 0px 0px 10px #0A1817;
    min-height: 100vh;
}

.conteudo-projetos{
    width: 70%;
    margin: auto;
}

.titulo{
    font-size: 2em;
}

.todos-projetos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
    width: 100%;
}

.projeto{
    background-color: hsla(0, 0%, 25%, 0.5);
    width: 320px;
    height: 380px;
    padding: 15px;
    border-radius: 10px;
    margin: 10px 5px;
}

.projeto:hover{
    background-color: #5f47837a;
}

.container-img-projeto{
    display: flex;
    justify-content: center;
}

.img-projeto{
    padding: 10px;
    width: 300px;
    border-radius: 20px;
}

.titulo-projeto{
    color: #68a7e6;
    margin-bottom: 5px;
    text-shadow: 0px 0px 5px black;
}

.sobre-projeto{
    height: 50px;
    margin: 5px;
}

.projeto-links{
    display: flex;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
}


/* fotter */


footer{
    display: flex;
    width: 100%;
    min-height: 150px;
    box-shadow: inset 0px 0px 10px black;
}

.conteudo-footer{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.footer-icons{
    padding: 5px;
    width: 50px;
}

/* animaçoes */

.entrada{
    animation-name: entrada;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.pipe{
    z-index: -1;
    color: #68a7e6;;
    font-size: 2.8em;
    animation: pisca-Pipe;
    animation-duration: .8s;
    animation-iteration-count: infinite;
}

@keyframes pisca-github {
    0%{
        box-shadow: 0px 0px 10px #b284f8;
    }
    
    50%{
        box-shadow: 0px 0px 10px #b284f800;
    }
    
    100%{
        box-shadow: 0px 0px 10px #b284f8;
    }
}

@keyframes pisca-linkedin {
    0%{
        box-shadow: 0px 0px 10px #71b5f8;
    }
    
    50%{
        box-shadow: 0px 0px 10px transparent;
    }
    
    100%{
        box-shadow: 0px 0px 10px #71b5f8;
    }
}

@keyframes entrada{
    0%{
        transform: rotateX(90deg);
    }
}

/* @keyframes pisca-Pipe{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
} */

/* mediaQuery Responsividade */

@media (max-width: 1024px) {

    /* Header */

    .container-top{
        display: block;
        width: 90%;
    }

    .minha-logo{
        display: block;
        text-align: center;
    }

    ul{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    li{
        margin-left: 0px;
        margin-right: 15px;
    }

    .link-nav{
        font-size: 1.2em;
    }


    /* Home */
    .conteudo-home{
        text-align: center;
        width: 95%;
    }

    .container-icons{
        justify-content: center;
    }

    .img-programa{
        display: none;
    }

    .links{
        justify-content: center;
    }

    /* Sobre */

    .conteiner-sobre{
        height: 100%;
    }

    .conteudo-sobre{
        width: 95%;
        display: block;
        padding: 0px;
        margin: 50px auto;
    }

    .minha-foto{
        width: 150px;
    }

    .titulo{
        width: 100%;
        text-align: center;
    }

    .conteiner-imagem-sobre{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .container-button-curriculo{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .botao-curriculo{
        margin-left: 0px;
    }

    /* Experiencias */

    .conteiner-experiencia{
        height: 100vh;
    }

    .conteudo-experiencia{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 95%;
        height: 100%;
    }

    .buttons{
        display: flex;
    }

    .button-experiencia{
        width: 100px;
        margin-left: 5px;
    }

    .resp-experiencia{
        padding: 10px;
        margin-bottom: 50px;
    }

    .container-projetos{
        height: 100%;
    }

    /* FOOTER */

    .conteudo-footer{
        width: 90%;
        display: block;
    }

    .conteudo-footer > .minha-logo{
        display: none;
    }

    .direitos{
        margin-top: 50px;
        text-align: center;
    }

    .titulo-footer{
        display: block;
        text-align: center;
        margin-top: 20px;
        font-size: 1.3em;
    }

    .container-links-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }

}

